:root {
  --font-kr: "NotoSansKR";
  --color-main: #4f6280;
  --color-gnbHover: #46679f;
  --color-text: #3b3b3b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px dotted red;
}

body {
  margin: 0;
  font-family: var(--font-kr);
}
body.menuActive {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul, li, ol {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
}

a {
  font-size: inherit;
  color: inherit;
}

input {
  border: none;
  outline: none;
}

.container {
  width: 100%;
  height: 100%;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

@font-face {
  font-family: "NotoSansKR";
  src: url(../../fonts/NotoSansKR-Medium.woff) format("woff");
}
.header__wrap {
  position: relative;
}
.header__util {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--color-main);
}
.header__util--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1500px) {
  .header__util--inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header__util--title {
  display: flex;
  align-items: center;
  height: 100%;
}
.header__util .title__img {
  width: auto;
  height: 15px;
}
.header__util .title__text {
  color: #fff;
}
.header .util {
  display: flex;
  align-items: center;
  height: 100%;
}
.header .util__item {
  position: relative;
  height: 100%;
}
.header .util__item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
}
.header .util__item-btn--borderBox {
  border-left: 1px solid #8c9bb3;
  border-top: none;
  border-bottom: none;
}
.header .util__item-btn:hover {
  text-decoration: underline;
}
.header .util__item--1::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 0.8rem;
  background: #8c9bb3;
}
.header .util__item--3 {
  height: 100%;
  font-family: var(--font-kr);
  font-size: 1rem;
}
.header .util__item--3::after {
  content: "";
  width: 15px;
  height: 8px;
  margin-left: 5px;
  background: url(../images/bg_lang.png) no-repeat;
}
.header .util .language {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid var(--color-main);
  border-top: none;
}
.header .util .language__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header .util .language__item:not(:last-child) {
  border-bottom: 1px dotted var(--color-main);
}
.header .util .language__item-link {
  width: 100%;
  padding: 0.8rem 0;
  color: var(--color-main);
  text-align: center;
}
.header .util .language.active {
  display: block;
}
.header .m-menu__util--wrap {
  display: none;
}
.header__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1500px) {
  .header__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title--logo {
  margin-right: 1rem;
}
.header__gnb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  height: 100%;
}
.header__gnb-wrap {
  width: 100%;
  height: 100%;
  max-width: 820px;
}
.header .gnb__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header .gnb__item--title {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--color-text);
  font-size: 1.3rem;
}
.header .gnb__item--title:hover {
  color: var(--color-gnbHover);
}
.header .gnb__item--title:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-main);
}
.header .gnb__item--title:hover + .gnb__sub-wrap {
  display: flex;
}
.header .gnb__sub {
  max-width: 1500px;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 1500px) {
  .header .gnb__sub {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header .gnb__sub-wrap {
  z-index: 50;
  display: none;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100vw - 10px);
  padding: 40px 0;
  background: #e7f0f9;
  border-top: 1px solid #9ba5b5;
  border-bottom: 1px solid #9ba5b5;
}
.header .gnb__sub-wrap:hover {
  display: flex;
}
.header .gnb__sub-wrap.ON {
  display: flex;
}
.header .gnb__sub[data-item-layout="6"] .gnb__sub-item {
  flex: 0 0 16.6666666667%;
}
.header .gnb__sub[data-item-layout="5"] .gnb__sub-item {
  flex: 0 0 20%;
}
.header .gnb__sub-item:not(:first-child) {
  padding-left: 30px;
  border-left: 1px solid #d9d9d9;
}
.header .gnb__sub-item.borderNone {
  padding-left: 0;
  border-left: none;
}
.header .gnb__sub-item--main {
  margin-bottom: 2rem;
  font-size: 20px;
  color: var(--color-main);
}
.header .gnb__sub-item--sub {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
}
.header .gnb__sub-item--sub:not(:last-child) {
  margin-bottom: 10px;
}
.header .gnb__sub-item--sub::before {
  content: "";
  width: 4px;
  height: 7px;
  margin-right: 5px;
  background: url(../../images/sprite_img01.png) no-repeat 0 -50px;
}
.header .gnb__sub--grid {
  display: grid;
  row-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}
.header__search {
  position: relative;
  width: 14%;
  height: 32px;
  max-width: 220px;
  padding: 0 42px 0 10px;
  border: 2px solid #555;
  border-radius: 32px;
}
.header__search--form {
  width: 100%;
  height: 100%;
}
.header__search--input {
  width: 100%;
  height: 100%;
}
.header__search--btn {
  position: absolute;
  top: 50%;
  right: -1px;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: #555 url(../../images/btn_search_top.png) center/contain no-repeat;
  border-radius: 50%;
}

@media screen and (max-width: 1360px) {
  .header__gnb {
    gap: 1.1rem;
  }
  .header .gnb__item--title {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 1200px) {
  .header__title--logo {
    margin-right: 0;
  }
  .header__title--slogan {
    display: none;
  }
  .header__util--inner {
    justify-content: center;
  }
  .header__util--wrap.util {
    display: none;
  }
  .header__gnb {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
    background-color: #fff;
  }
  .header__gnb-wrap {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
  }
  .header__gnb-wrap.ON {
    z-index: 100;
    display: flex;
  }
  .header__gnb-wrap::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .header__gnb-wrap .util {
    display: flex;
  }
  .header__gnb-wrap .util__item-btn {
    color: #000;
  }
  .header .gnb__item {
    width: 40%;
    height: 40px;
    background: #4f6280;
    border-bottom: 1px solid #9ba5b5;
  }
  .header .gnb__item:hover {
    background: #e7f0f9;
  }
  .header .gnb__item:hover .gnb__item--title {
    color: #000;
  }
  .header .gnb__item--title {
    padding: 0.45em 0.9em;
    color: #fff;
    box-sizing: border-box;
    font-size: 1.1rem;
  }
  .header .gnb__item--title:hover::after {
    display: none;
  }
  .header .gnb__sub-wrap {
    overflow-x: hidden;
    overflow-y: scroll;
    top: 50px;
    left: auto;
    right: 0;
    width: 60%;
    height: calc(100% - 120px);
    padding: 0;
    border-top: none;
  }
  .header .gnb__sub {
    flex-direction: column;
  }
  .header .gnb__sub-item {
    padding: 12px 0;
  }
  .header .gnb__sub-item:not(:first-child) {
    padding-left: 0;
    border-top: 30px;
    border-left: none;
    border-top: 1px solid #d9d9d9;
  }
  .header .gnb__sub-item--main {
    margin-bottom: 1rem;
  }
  .header .gnb__sub[data-item-layout="5"] .gnb__sub-item {
    flex: 0 0 auto;
  }
  .header .gnb__sub[data-item-layout="6"] .gnb__sub-item {
    flex: 0 0 auto;
  }
  .header .gnb__sub--grid {
    display: flex;
    flex-direction: column;
  }
  .header__search {
    display: none;
  }
  .m-menu__open-btn {
    width: 30px;
    height: 30px;
    background: url(../images/menu.png) center/contain no-repeat;
    border: none;
    cursor: pointer;
  }
  .m-menu__search-open-btn {
    width: 25px;
    height: 25px;
    background: url(../images/sprite_img01.png) no-repeat;
    background-position: -280px -130px;
  }
  .m-menu__util--wrap.util {
    flex-shrink: 0;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #aac7d0;
  }
  .m-menu__close-wrap {
    height: 100%;
    margin-left: auto;
  }
  .m-menu__close-btn {
    position: relative;
    width: 50px;
    height: 100%;
    background: #4f6280;
    cursor: pointer;
  }
  .m-menu__close-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 11px;
    background: url(../images/icon_all.png) no-repeat;
    background-position: -422px 0;
  }
}
.intro {
  width: 100%;
  height: 480px;
}
.intro__slide {
  width: 100%;
  height: 100%;
}
.intro__slide--wrap {
  max-width: 1500px;
  width: 100%;
  transition-duration: 3s !important;
}
.intro__slide--item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.intro__slide--item-1 {
  background: rgb(255, 255, 255) url(../images/bg_pattern_top_slides.png);
}
.intro__slide--item-2 {
  background: rgb(255, 240, 240) url(../images/bg_pattern_top_slides.png);
}
.intro .slide__inner {
  display: flex;
  justify-content: center;
  max-width: 1500px;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}
@media screen and (max-width: 1500px) {
  .intro .slide__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.intro .slide__textBox {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-top: 20px;
}
.intro .slide__textBox--title {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: normal;
}
.intro .slide__textBox--info {
  font-size: 20px;
}
.intro .slide__textBox--moreBtn {
  width: 190px;
  height: 38px;
  margin-top: 2.5em;
  background: url(../images/sprite_img01.png) no-repeat;
  background-position: left top -74px;
  color: #3b3b3b;
  font-size: 1.2rem;
}
.intro .slide__imgBox {
  display: flex;
  width: 55%;
  height: 100%;
}
.intro .slide__imgBox--link {
  width: 100%;
  height: 100%;
}
.intro .slide__imgBox--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intro .swiper__btn {
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 13px;
  position: absolute;
  left: 50%;
  bottom: 11%;
  width: 198px;
  height: 32px;
  margin-left: -750px;
  padding-left: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}
.intro .swiper__btn.play .swiper-button-play {
  display: none;
}
.intro .swiper__btn.play .swiper-button-stop {
  display: block;
}
.intro .swiper__btn.stop .swiper-button-stop {
  display: none;
}
.intro .swiper__btn.stop .swiper-button-play {
  display: block;
}
.intro .swiper-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  cursor: pointer;
}
.intro .swiper-button-arrow {
  width: 12px;
  height: 20px;
  margin-top: 0;
}
.intro .swiper-button-arrow::after {
  display: none;
}
.intro .swiper-button-prev {
  background: url(../images/sprite_img01.png) no-repeat;
  background-position: -30px -46px;
}
.intro .swiper-button-next {
  background: url(../images/sprite_img01.png) no-repeat;
  background-position: -42px -46px;
}
.intro .swiper-button-play {
  display: none;
  width: 12px;
  height: 20px;
  background: url(../images/sprite_img01.png) no-repeat;
  background-position: -72px -46px;
}
.intro .swiper-button-stop {
  width: 12px;
  height: 20px;
  background: url(../images/sprite_img01.png) no-repeat;
  background-position: -58px -46px;
}
.intro .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  bottom: auto;
  left: auto;
  right: 20px;
  transform: translateY(-50%);
  width: auto;
  height: fit-content;
}
.intro .swiper-pagination-bullet {
  opacity: 1;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  background: #fff;
}
.intro .swiper-pagination-bullet-active {
  background: transparent;
}

@media screen and (max-width: 1500px) {
  .intro .swiper__btn {
    left: 1rem;
    margin-left: 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .intro .slide__inner {
    justify-content: space-between;
  }
  .intro .slide__textBox {
    padding-top: 0;
  }
  .intro .slide__textBox--title {
    font-size: 2.2rem;
  }
  .intro .slide__textBox--moreBtn {
    font-size: 1rem;
  }
  .intro .slide__imgBox {
    width: 48%;
  }
}
.selectCont__title {
  position: relative;
  font-size: 24px;
  color: #555;
}
.selectCont__title:hover {
  color: #111;
}
.selectCont__title:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #111;
}
.selectCont__box {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 320px;
}
.selectCont__list {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 258px;
  padding: 7px 0;
  border-top: 1px solid #000002;
  border-bottom: 1px solid #000002;
}
.selectCont__list--item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  padding: 12px 0 12px 14px;
}
.selectCont__list--item::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 2px;
  display: block;
  width: 4px;
  height: 4px;
  margin-top: 0;
  background: #686868;
}
.selectCont__list--item:not(:first-child) {
  border-top: 1px solid #d9d8dd;
}
.selectCont__list--text {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: normal;
}
.selectCont__list--date {
  flex-shrink: 0;
  font-size: 16px;
  color: #777;
}
.selectCont__selectBtn {
  padding: 18px 0 13px;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}
.selectCont__selectBtn.activeNoneChange::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #111;
}
.selectCont__grid {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 258px;
}
.selectCont__grid--item {
  padding: 1rem;
  border: 1px solid #d5d5d5;
}
.selectCont__grid--text {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
  color: #111;
}
.selectCont__moreView {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(../../images/btn_main_more.png) center/contain no-repeat;
  top: 0;
  right: 0;
}
.selectCont__wrap.active .selectCont__list {
  display: flex;
}
.selectCont__wrap.active .selectCont__box {
  display: block;
}
.selectCont__wrap.active .selectCont__grid {
  display: grid;
}
.selectCont__wrap.active .selectCont__title {
  color: #111;
}
.selectCont__wrap.active .selectCont__title ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #111;
}
.selectCont__wrap.active .selectCont__moreView {
  display: block;
}
.selectCont__wrap:not(:first-child) .selectCont__title {
  margin-left: 30px;
}
.selectCont__wrap:not(:first-child) .selectCont__title::after {
  content: "";
  position: absolute;
  top: 37px;
  left: -15px;
  display: block;
  width: 4px;
  height: 4px;
  margin-top: -2px;
  background: #555;
}

@media screen and (max-width: 1200px) {
  .selectCont__wrap:not(:first-child) .selectCont__title {
    margin-left: 20px;
  }
  .selectCont__wrap:not(:first-child) .selectCont__title::after {
    top: 33px;
    left: -12px;
  }
  .selectCont__title {
    font-size: 20px;
  }
  .selectCont__grid {
    gap: 0.5rem;
  }
}
.cont1 {
  margin-top: 65px;
}
.cont1__inner {
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
  height: 330px;
  margin: 0 auto;
}
@media screen and (max-width: 1500px) {
  .cont1__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.cont1__left {
  display: flex;
  position: relative;
  width: calc(100% - 30px);
}
.cont1__right {
  display: flex;
  position: relative;
  width: calc(100% - 30px);
}

.cont2 {
  margin-top: 65px;
}
.cont2__inner {
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  height: 390px;
  margin: 0 auto;
}
@media screen and (max-width: 1500px) {
  .cont2__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.cont2 .cont2__right, .cont2 .cont2__middle, .cont2 .cont2__left {
  display: flex;
  position: relative;
}
.cont2__left--box.active .news__desc {
  display: block;
}
.cont2__middle--recommend {
  width: 100%;
}
.cont2 .news__thumnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cont2 .news__desc {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.7em;
  background-color: rgba(0, 0, 0, 0.5);
  white-space: noWrap;
  color: #fff;
}
.cont2 .recommend__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 320px;
  border-top: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
.cont2 .recommend__item {
  border-left: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.cont2 .recommend__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 42px;
}
.cont2 .recommend__link:hover .recommend__link--text {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.cont2 .recommend__link--img {
  width: 60px;
  height: 50px;
  margin-bottom: 5px;
  background-image: url(../images/sprite_img02.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.cont2 .recommend__link--text {
  font-size: 1.2rem;
  color: #343434;
  text-align: center;
}
.cont2 .recommend__link--2 .recommend__link--img {
  background-position: left -60px center;
}
.cont2 .recommend__link--3 .recommend__link--img {
  background-position: left -120px center;
}
.cont2 .recommend__link--4 .recommend__link--img {
  background-position: left -180px center;
}
.cont2 .recommend__link--5 .recommend__link--img {
  background-position: left -240px center;
}
.cont2 .recommend__link--6 .recommend__link--img {
  background-position: left -300px center;
}
.cont2 .notice__slide {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 320px;
}
.cont2 .notice__slideImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cont2 .notice .swiper__btn {
  display: flex;
  gap: 5px;
  position: absolute;
  top: 18px;
  right: 0;
  height: 35px;
}
.cont2 .notice .swiper__btn.stop .swiper-button-play {
  display: flex;
}
.cont2 .notice .swiper__btn.stop .swiper-button-stop {
  display: none;
}
.cont2 .notice .swiper__btn.play .swiper-button-play {
  display: none;
}
.cont2 .notice .swiper__btn.play .swiper-button-stop {
  display: flex;
}
.cont2 .notice .swiper-button-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  margin: 0;
}
.cont2 .notice .swiper-button-arrow::before {
  content: "";
  width: 15px;
  height: 20px;
}
.cont2 .notice .swiper-button-arrow::after {
  display: none;
}
.cont2 .notice .swiper-button-prev::before {
  background: url(../images/sprite_img01.png) no-repeat;
  background-position: left -9.2em top -2.9em;
}
.cont2 .notice .swiper-button-next::before {
  background: url(../images/sprite_img01.png) no-repeat;
  background-position: left -10.3em top -2.9em;
}
.cont2 .notice .swiper-button-play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
}
.cont2 .notice .swiper-button-play::before {
  content: "";
  width: 15px;
  height: 20px;
  background: url(../images/sprite_img01.png) no-repeat;
  background-position: left -12.8em top -2.9em;
}
.cont2 .notice .swiper-button-stop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
}
.cont2 .notice .swiper-button-stop::before {
  content: "";
  width: 15px;
  height: 20px;
  background: url(../images/sprite_img01.png) no-repeat;
  background-position: left -11.6em top -2.9em;
}
.cont2 .notice .swiper-pagination {
  width: fit-content;
  padding: 0 5px;
  font-size: 0.9rem;
  line-height: 35px;
  color: #323232;
}
.cont2 .notice .swiper-pagination-current {
  font-weight: bold;
  color: #000;
}
.cont2 .notice__swiperBtn > * {
  flex-shrink: 0;
  position: static;
  height: 100%;
  border: 1px solid #000;
}

.cont3 {
  margin-top: 56px;
}
.cont3__inner {
  max-width: 1500px;
  display: flex;
  position: relative;
  width: 100%;
  height: 365px;
  margin: 0 auto;
}
@media screen and (max-width: 1500px) {
  .cont3__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.cont3__text {
  height: fit-content;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: #555;
}
.cont3 .swiper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 295px;
}
.cont3 .swiper-slide {
  height: 100%;
  border: 1px solid #e3e3e3;
}
.cont3 .swiper__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.cont3 .swiper__link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.cont3 .swiper__slide--imgBox {
  overflow: hidden;
  height: 189px;
}
.cont3 .swiper__slide--img {
  width: 100%;
  height: auto;
}
.cont3 .swiper__slide--descBox {
  flex-grow: 1;
  padding: 1rem 1rem 0;
}
.cont3 .swiper__slide--descTit {
  display: block;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.cont3 .swiper__slide--descTit + .swiper__slide--desc {
  -webkit-line-clamp: 7;
}
.cont3 .swiper__slide--desc {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cont3 .policy__slide {
  display: none;
}
.cont3 .policy__slideImg {
  width: 100%;
  height: auto;
}
.cont3 .policy.active .policy__slide {
  display: block;
}
.cont3 .nuri__slide {
  display: none;
}
.cont3 .nuri.active .nuri__slide {
  display: block;
}
.cont3__snsBtnWrap {
  display: flex;
  gap: 0.5rem;
}
.cont3 .sns {
  position: absolute;
  right: 0;
  top: 1.5rem;
}
.cont3 .sns__btn {
  width: 27px;
  height: 27px;
  background-image: url(../images/sprite_img01.png);
  background-repeat: no-repeat;
}
.cont3 .sns__btn--blog {
  background-position: 0 -130px;
}
.cont3 .sns__btn--facebook {
  background-position: -30px -130px;
}
.cont3 .sns__btn--twitter {
  background-position: -60px -130px;
}
.cont3 .sns__btn--youtube {
  background-position: -90px -130px;
}
.cont3 .sns__btn--kakaotv {
  background-position: -120px -130px;
}
.cont3 .sns__btn--instagram {
  background-position: -150px -130px;
}

@media screen and (max-width: 1500px) {
  .cont3 .swiper {
    padding: 0 15px;
  }
}
.agency {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  height: 292px;
  background: #e7f0f9 url(../images/bg_pattern_bottom.png);
}
.agency__inner {
  max-width: 1500px;
  display: flex;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1500px) {
  .agency__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.agency__leftCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 349px;
}
.agency__leftCont-link {
  width: 100%;
  height: 292px;
  background: #4f6280 url(../../images/banner_bottom3.gif) center/contain no-repeat;
}
.agency__rightCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 370px);
  height: 100%;
}
.agency__select {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}
.agency__select-wrap {
  display: flex;
  width: 35%;
  border: 1px solid #6c7e90;
}
.agency__select-wrap:not(:last-child) {
  margin-right: 60px;
}
.agency__select-form {
  flex-grow: 1;
}
.agency__select-box {
  width: 100%;
  height: 100%;
  padding-left: 1em;
  background: #e7f0f9 url(../images/select_bg.gif) no-repeat;
  background-position: right 1em center;
  border: none;
  appearance: none;
  color: #696969;
}
.agency__select--submitBtn {
  width: 50px;
  height: 37px;
  background: #6c7e90;
  color: #fff;
  line-height: 37px;
  text-align: center;
}
.agency__banner-wrap {
  position: relative;
  width: calc(70% + 70px);
}
.agency__banner-slide {
  width: 100%;
}
.agency__banner-slide--item {
  height: 55px;
  border: 1px solid #c6d0d9;
  background: #fff;
}
.agency__banner-slide--link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.agency__banner-slide--link img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.agency__banner-slide--arrowBtn {
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 24px;
  margin-top: 0;
  background: url(../images/sprite_img01.png) no-repeat;
  background-position: -470px 0;
}
.agency__banner-slide--arrowBtn::after {
  display: none;
}
.agency__banner-slide--arrowBtn.swiper-button-disabled {
  display: none;
}
.agency__banner-slide--prevBtn {
  left: -40px;
  transform: translateY(-50%) scaleX(-1);
}
.agency__banner-slide--nextBtn {
  right: -40px;
}
@media (max-width: 1430px) {
  .agency__leftCont {
    max-width: 24.4056vw;
  }
}

@media screen and (max-width: 1200px) {
  .agency__rightCont {
    flex-grow: 1;
  }
}
.footer {
  display: flex;
  justify-content: center;
  margin: 2rem 0 4rem;
}
.footer__inner {
  max-width: 1500px;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 1500px) {
  .footer__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.footer__left {
  display: flex;
  gap: 3rem;
}
.footer__logo {
  width: 175px;
}
.footer__logo-img {
  width: 100%;
  height: auto;
}
.footer__info-wrap {
  display: flex;
  flex-direction: column;
}
.footer__info--link {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  margin-bottom: 1rem;
}
.footer__link-list {
  position: relative;
  padding: 5px 1rem 5px 0;
}
.footer__link-list:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 15px;
  background: #cacaca;
}
.footer__link {
  font-size: 17px;
}
.footer__link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.footer__link--information {
  color: #b81613;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.footer__address {
  color: #676767;
  font-style: normal;
}
.footer__address-tel {
  font-weight: bold;
  color: #0a6da6;
}
.footer__right {
  display: flex;
  gap: 1rem;
  margin-left: auto;
  padding-top: 10px;
}
.footer__right-banner {
  display: flex;
  align-items: center;
  height: 65px;
}/*# sourceMappingURL=style.css.map */