@charset "UTF-8";
.agency {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  height: 292px;
  background: #e7f0f9 url(../images/bg_pattern_bottom.png);
  &__inner {
    @include inner;
    display: flex;
    width: 100%;
    height: 100%;
  }
  &__leftCont {
    @include flexCenter;
    width: 100%;
    height: 100%;
    max-width: 349px;
    &-link {
      width: 100%;
      height: 292px;
      background: #4f6280 url(../../images/banner_bottom3.gif) center / contain no-repeat
    }
  }
  &__rightCont {
    @include flexColCenter;
    width: calc(100% - 370px);
    height: 100%;
  }
  &__select {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
    &-wrap {
      display: flex;
      width: 35%;
      border: 1px solid #6c7e90;
      &:not(:last-child) {
        margin-right: 60px;
      }
    }
    &-form {
      flex-grow: 1;
    }
    &-box {
      width: 100%;
      height: 100%;
      padding-left: 1em;
      background: #e7f0f9 url(../images/select_bg.gif) no-repeat;
      background-position: right 1em center;
      border: none;
      appearance: none;
      color: #696969;
    }
    &--submitBtn {
      width: 50px;
      height: 37px;
      background: #6c7e90;
      color: #fff;
      line-height: 37px;
      text-align: center;
    }
  }
  &__banner-wrap {
    position: relative;
    width: calc(70% + 70px);
  }
  &__banner-slide {
    width: 100%;
    &--item {
      height: 55px;
      border: 1px solid #c6d0d9;
      background: #fff;
    }
    &--link {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
      }
    }
    &--arrowBtn {
      top: 50%;
      transform: translateY(-50%);
      width: 14px;
      height: 24px;
      margin-top: 0;
      background: url(../images/sprite_img01.png) no-repeat;
      background-position: -470px 0;
      &::after { display: none; }
      &.swiper-button-disabled {
        display: none;
      }
    }
    &--prevBtn {
      left: -40px;
      transform: translateY(-50%) scaleX(-1);
    }
    &--nextBtn {
      right: -40px;
    }
  }
  &__m-banner-wrap { display: none; }
  @media (max-width: 1430px) {
    &__leftCont {
      max-width: 23%;
    }
  }
}
// 화면 사이즈 1200px이하
@include maxRespond($breakpoint-1200) {
  .agency {
    &__rightCont {
      flex-grow: 1;
    }
  }
}
// 화면 사이즈 769px이상 1200px이하
@include minMaxRespond($breakpoint-769, $breakpoint-1200) {
  .agency {
    &__select {
      &-wrap {
        width: 42%;
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
    &__banner-wrap {
      width: calc(75% + 70px);
    }
    &__banner-slide {
      &--prevBtn {
        left: -25px;
      }
      &--nextBtn {
        right: -25px;
      }
    }
  }
}
// 화면 사이즈 769px이하
@include maxRespond($breakpoint-768) {
  .agency {
    height: 400px;
    &__inner {
      display: block;
      &::after {
        @include clear;
      }
    }
    &__leftCont {
      float: left;
      max-width: 45%;
      height: 292px;
    }
    &__rightCont {
      width: 100%;
      max-width: 55%;
      height: 292px;
    }
    &__select {
      float: right;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
      &-wrap {
        width: 90%;
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
    &__banner-wrap {
      display: none;
    }
    &__m-banner {
      &-wrap {
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 20px;
      }
      &-slide {
        width: calc(100% - 40px);
        &--arrowBtn {
          top: 50%;
          transform: translateY(-50%);
          width: 14px;
          height: 24px;
          margin-top: 0;
          background: url(../images/sprite_img01.png) no-repeat;
          background-position: -470px 0;
          &::after { display: none; }
          &.swiper-button-disabled {
            display: none;
          }
        }
        &--prevBtn {
          left: 0;
          transform: translateY(-50%) scaleX(-1);
        }
        &--nextBtn {
          right: 0;
        }
      }
    }
  }
}