.cont1 {
  margin-top: 65px;
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
    max-width: 1500px;
    height: 330px;
    margin: 0 auto;
  }
  &__left {
    display: flex;
    position: relative;
    width: calc(100% - 30px);
  }
  &__right {
    display: flex;
    position: relative;
    width: calc(100% - 30px);
  }
}