@charset "UTF-8";
.intro {
  width: 100%;
  height: 480px;
  &__slide {
    width: 100%;
    height: 100%;
    &--wrap {
      max-width: 1500px;
      width: 100%;
      transition-duration: 3s !important;
    }
    &--item {
      @include flexCenter;
      width: 100%;
      &-1 {
        background: rgb(255, 255, 255) url(../images/bg_pattern_top_slides.png);
      }
      &-2 {
        background: rgb(255, 240, 240) url(../images/bg_pattern_top_slides.png);
      }
    }
  }
  .slide {
    &__inner {
      @include flexJustifyCenter;
      @include inner;
      width: 100%;
      height: 100%;
      padding: 2rem 0;
    }
    &__textBox {
      display: flex;
      flex-direction: column;
      width: 45%;
      padding-top: 20px;
      &--title {
        @include textEllipsis-2;
        margin-bottom: 40px;
        font-size: 2.5rem;
        font-weight: normal;
      }
      &--info {
        font-size: 20px;
      }
      &--moreBtn {
        width: 190px;
        height: 38px;
        margin-top: 2.5em;
        background: url(../images/sprite_img01.png) no-repeat;
        background-position: left top -74px;
        color: #3b3b3b;
        font-size: 1.2rem;
      }
    }
    &__imgBox {
      display: flex;
      width: 55%;
      height: 100%;
      &--link {
        width: 100%;
        height: 100%;
      }
      &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .swiper {
    &__btn {
      z-index: 5;
      display: flex;
      align-items: center;
      gap: 13px;
      position: absolute;
      left: 50%;
      bottom: 11%;
      width: 198px;
      height: 32px;
      margin-left: -750px;
      padding-left: 20px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 1rem;
      &.play {
        .swiper-button-play {
          display: none;
        }
        .swiper-button-stop {
          display: block;
        }
      }
      &.stop {
        .swiper-button-stop {
          display: none;
        }
        .swiper-button-play {
          display: block;
        }
      }
    }
    &-button {
      @include flexCenter;
      position: static;
      cursor: pointer;
      &-arrow {
        width: 12px;
        height: 20px;
        margin-top: 0;
        &::after {
          display: none;
        }
      }
      &-prev {
        background: url(../images/sprite_img01.png) no-repeat;
        background-position: -30px -46px;
      }
      &-next {
        background: url(../images/sprite_img01.png) no-repeat;
        background-position: -42px -46px;
      }
      &-play {
        display: none;
        width: 12px;
        height: 20px;
        background: url(../images/sprite_img01.png) no-repeat;
        background-position: -72px -46px;
      }
      &-stop {
        width: 12px;
        height: 20px;
        background: url(../images/sprite_img01.png) no-repeat;
        background-position: -58px -46px;
      }
    }
    &-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      bottom: auto;
      left: auto;
      right: 20px;
      transform: translateY(-50%);
      width: auto;
      height: fit-content;
      &-bullet {
        opacity: 1;
        width: 10px;
        height: 10px;
        border: 2px solid #fff;
        background: #fff;
        &-active {
          background: transparent;
        }
      }
    }
  }
}
// 화면 사이즈 1500px 이하
@include maxRespond($breakpoint-1500) {
  .intro {
    .swiper {
      &__btn {
        left: 1rem;
        margin-left: 0;
      }
    }
  }
}
// 화면 사이즈 769px 이상 1200px 이하
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .intro {
    .slide {
      &__inner {
        justify-content: space-between;
      }
      &__textBox {
        padding-top: 0;
        &--title {
          font-size: 2.2rem;
        }
        &--moreBtn {
          font-size: 1rem;
        }
      }
      &__imgBox {
        width: 48%;
      }
    }
  }
}
// 화면 사이즈 768px 이하
@include maxRespond($breakpoint-768) {
  .intro {
    height: auto;
    .slide {
      &__inner {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0 15px 80px;
      }
      &__textBox {
        width: 100%;
        padding: 20px 0;
        &--title {
          margin-bottom: 20px;
          font-size: 1.5rem;
          -webkit-line-clamp: 1;
        }
        &--info {
          @include textEllipsis-1;
          font-size: 1rem;
        }
        &--moreBtn {
          position: absolute;
          bottom: 16px;
          width: 105px;
          padding-top: 10px;
          margin-top: 0;
          background-position: top -73px left -90px;
          font-size: 14px;
        }
      }
      &__imgBox {
        width: 100%;
        &--link {
          height: auto;
        }
        &--img {
          width: 100%;
          height: auto;
          object-fit: initial;
        }
      }
    }
    .swiper {
      &__btn {
        left: auto;
        right: 15px;
        bottom: 16px;
      }
    }
  }
}
// 화면 사이즈 480px 이하
@include maxRespond($breakpoint-480) {
  .intro {
    .slide {
      &__textBox {
        &--title {
          font-size: 22px;
        }
      }
    }
  }
}