@charset "UTF-8";
:root {
  // font
  --font-kr: "NotoSansKR";
  // color
  --color-main: #4f6280;
  --color-gnbHover: #46679f;
  --color-text: #3b3b3b;
}
* { margin: 0; padding: 0; box-sizing: border-box;}
*:focus { outline: 2px dotted red; }
body {
  margin: 0;
  font-family: var(--font-kr);
  &.menuActive { overflow: hidden; }
}
a {
  text-decoration: none;
}
ul, li, ol {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  background-color: transparent;
  border: none;
}
a {
  font-size: inherit;
  color: inherit;
}
input {
  border: none;
  outline: none;
}
.container {
  width: 100%;
  height: 100%;
}
.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}
.skip {
  position: relative;
  z-index: 9999;
  width: 100%;
  font-size: 0;
  line-height: 0;
}
.skip ul li a {
  font-size: 0;
  line-height: 0;
}
.skip ul li a:focus {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  padding: 1em 0;
  background: #fff;
  border: 2px solid #407CD5;
  text-align: center;
  font-size: 14px;
  color: #000000;
}