@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flexJustifyCenter {
  display: flex;
  justify-content: center;
}
@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}
@mixin titleActiveBefore {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #111;
}