@mixin clear {
  content: "";
  display: block;
  clear: both;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flexJustifyCenter {
  display: flex;
  justify-content: center;
}
@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}
@mixin titleActiveBefore {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #111;
}
@mixin textEllipsis-1 {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@mixin textEllipsis-2 {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@mixin inner {
  max-width: 1500px;
  @media screen and (max-width: 1500px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@mixin maxRespond($size) {
  @media screen and (max-width:$size) {
    @content;
  }
}
@mixin minMaxRespond($minSize, $maxSize) {
  @media screen and (min-width:$minSize) and (max-width:$maxSize) {
    @content;
  }
}